/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/* border: 0; */
	/* font-size: 100%; */
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
    max-width: 100%;
    border: 1px solid gray; /*  LAYOUT ASSISTANCE BORDER */
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto Mono';
    font-size: 1.6rem;
}

/* Page Container */

.container {
    width: 100%;
    margin: 2% auto;
}

/* Navigation Styling */

.navContainer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    
}

nav a.navBtn {
    text-decoration: none;
    padding: 1%;
    margin: 0 10%;
    border-radius: 10px;
    color: white;
    display: inline-block;
    text-align: center;
    width: 13%;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 1% 3%;
    margin: 1% auto;
    vertical-align: middle;
}

.navPlan {
    background-color: #FF764E;
}

.navLearn {
    background-color: #5ED3EB;
}

.navVolunteer {
    background-color: #FFCD69;
}

/* Header Styling */

.headerContainer {
    width: 100%;
    padding: 1% 7%;
    margin: 0 auto;
    display: inline-block;
}

header img {
    border-radius: 50%;
    width: 25%;
    margin: 5%;
    display: inline-block;
}

h1 {
    font-family: 'Chelsea Market';
    font-size: 6rem;
    display: inline-block;
    margin: 3% 3%;
}

.pageHeadline {
    display: inline-block;
    text-align: center;
    height: 20%;
    width: 60%;
    vertical-align: top;
    margin-top: 7%;
}

.headerTagline {
    line-height: 2rem;
    /* margin: 3% 2%; */
}

.subTagLine {
    width: 60%;
    margin: 2% auto;
}

/* Main Styling */

.mainBodyText {
    color: white;
    background-color: #DDB9A3;
    padding: 2rem 2%;
    text-align: center;
    line-height: 2rem;
    margin: 0 5%;
}

.mainBodyText p {
    margin: 1.5%;
}
/* Footer Styling */

footer {
    width: 100%;
    padding: 3% 5%;
    display: inline-block;
}

.footerBackground {
    background-color: #F9E7DC;
    margin: 0;
}